body {
    background-color: #fff;
  }
  
 
  .product__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
  }
  
  .product__list .product__item {
    flex: calc(25% - 10px);
    max-width: calc(25% - 10px);
    margin: 30px 5px 30px 5px;
    padding: 35px 0 0px 0;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
   box-shadow: 2px 5px rgb(203, 202, 202);
   border: 0.25px solid rgb(203, 202, 202);
  }
  
  .product__list .product__item .product__sale {
    position: absolute;
    top: 0px;
    left: 0;
    background: #de4458;
    color: #fff;
    display: inline-block;
    padding: 7px 10px 0px 10px;
    border-radius: 10px 0 10px 0;
    height: 35px;

  }
  
  .product__list .product__item .product__img a {
    display: block;
    text-align: center;
    height: 224px;
    margin-top: 10px;
  }
  .product__list .product__item .product__img a img {
    width: 80%;
    display: inline-block;
    height: 200px;
  }
  
  .product__list .product__item .product__title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: robotoBold, sans-serif;
    margin-bottom: 10px;
    font-size: 17px;
    
  }
  
  .product__list .product__item .product__brand {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .product__list .product__item .product__structure {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }
  .product__list .product__item .product__price {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }

  .product__list .product__item .product__detail-button {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }


  #product-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

 
  
  